:root {
  --bg-color: #F9F9F9;
  --products-bg-color: #F6F6F6;
  --white-color: #ffffff;
  --primary-color: #242EDB;
  --danger-color: #F11010;
  --font-color: #232323;
  --font-color-2: #333333;
  --gray-color: #E0E0E0;
  --gray-color-2: #EBEBEB;
  --gray-color-3: #6C6C6C;
  --gray-color-4: #EDEDED;
  --gray-color-5: #F3F3F3;
  --gray-color-6: #ECECEB;
  --gray-color-7: #969B9F;
  --gray-color-8: #B2B3B9;
  --gray-color-9: #E2E2E2;
  --gray-color-10: #999999;
  --green-color: #EBF3EA;
  --green-color-2: #2e7d32;
  --purpure-color: #797FEA;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  font-size: 14px;
}

.flex {
  display: flex;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

button:focus,
a:focus,
input:focus {
  outline: 3px solid rgba(25, 118, 210, 0.15);
  outline-offset: 2px;
  border-radius: 6px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pointer {
  cursor: pointer;
}